<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>milestoneList</title>
</head>
<body>
<a th:href="@{/projects}">돌아가기</a>
<table>
    <tr>
        <th>마일스톤 번호</th>
        <th>마일스톤 이름</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    <tr th:each="milestone : ${milestones}">
        <td th:text="${milestone.serialNumber}"></td>
        <td th:text="${milestone.name}"></td>
        <td><a th:href="@{|/milestones/${projectSerialNumber}/modify/${milestone.serialNumber}|}">수정</a></td>
        <td><a th:href="@{|/milestones/${projectSerialNumber}/delete/${milestone.serialNumber}|}">삭제</a></td>
    </tr>
</table>
<a th:href="@{|/milestones/${projectSerialNumber}/create|}">등록</a>
</body>
</html>