<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>projectList</title>
</head>
<body>
<a th:href="@{/}">시작페이지</a>
<h1>프로젝트</h1>
<table>
    <tr>
        <th>번호</th>
        <th>관리자</th>
        <th>이름</th>
        <th>상태</th>
        <th>회원관리</th>
        <th>마일스톤</th>
        <th>태그</th>
    </tr>
    <tr th:each="project : ${projects}">
        <td th:text="${project.serialNumber}"></td>
        <td th:text="${project.adminId}"></td>
        <td><a th:href="@{|/tasks/${project.serialNumber}|}" th:text="${project.name}"></a></td>
        <td th:text="${project.status}"></td>
        <td>
            <a th:if="${#strings.equals(project.adminId, username)}" th:href="@{|/projects/${project.serialNumber}/members|}">회원관리</a>
        </td>
        <td><a th:href="@{|/milestones/${project.serialNumber}|}">목록</a></td>
        <td><a th:href="@{|/tags/${project.serialNumber}|}">목록</a></td>

    </tr>
</table>
<a th:href="@{|/projects/create|}">생성</a>
</body>
</html>