<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>taskList</title>
</head>
<body>
<table>
    <tr>
        <th>번호</th>
        <th>관리자</th>
        <th>마일스톤</th>
        <th>등록자</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.serialNumber}"></td>
        <td>
            <a th:href="@{|/tasks/${projectSerialNumber}/view/${task.serialNumber}|}" th:text="${task.title}"></a>
        </td>
        <td th:text="${task.milestoneName}"></td>
        <td th:text="${task.memberId}"></td>
    </tr>
</table>
<a th:href="@{|/tasks/${projectSerialNumber}/create|}">등록</a>
</body>
</html>