<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>taskCreateForm</title>
</head>
<body>
<form method="post" th:action="@{|/tasks/${projectSerialNumber}/create|}">
    업무 제목: <input type="text" name="title"/><br/>
    업무 내용: <br/><textarea rows="10" cols="50" name="content"></textarea><br/>
    마일스톤
    <select name="milestone">
        <option value=""></option>
        <option th:each="milestone : ${milestones}" th:value="${milestone.serialNumber}" th:text="${milestone.name}">
        </option>
    </select><br/>
    태그
    <input type="checkbox" name="tags" th:each="tag : ${tags}" th:value="${tag.serialNumber}" th:text="${tag.name}"/>
    <br/><input type="submit"/>
</form>
</body>
</html>