<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>taskView</title>
    <style>
        .content {
            border: solid 1px black;
        }
        .underline {
            text-decoration: underline;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<a th:href="@{|/tasks/${projectSerialNumber}/modify/${task.serialNumber}|}">수정</a><br/>
<a th:href="@{|/tasks/${projectSerialNumber}/delete/${task.serialNumber}|}">삭제</a><br/>
[업무번호] <span th:text="${task.serialNumber}"></span><br/>
[등록자] <span th:text="${task.memberId}"></span><br/><br/>
[업무제목] <span th:text="${task.title}"></span><br/><br/>
[업무내용] <p class="content" th:text="${task.content}"></p><br/>

<div th:if="${task.milestoneName != null }">
    [마일스톤] <span class="underline" th:text="${task.milestoneName}"></span>
</div><br/>
<div th:if="${!#lists.isEmpty(taskTags)}">
    [태그]
    <span class="underline" th:each="taskTag : ${taskTags}" th:text="${taskTag.tagName+''}"></span>
</div><br/>
--댓글--
<form method="post" th:action="@{|/comments/${projectSerialNumber}/${task.serialNumber}/create|}">
    <textarea rows="3" cols="50" name="content"></textarea>
    <input type="submit" value="댓글작성"/>
</form><br/>
<div th:each="comment: ${comments}">
    <span th:text="${comment.projectMemberPkMemberId}"></span><br/>
    <span th:text="${comment.content}"></span><br/>
    <a th:href="@{|/comments/${projectSerialNumber}/${task.serialNumber}/modify/${comment.serialNumber}|}" th:if="${#strings.equals(comment.projectMemberPkMemberId, #authentication.name)}" >댓글 수정</a>
    <a th:href="@{|/comments/${projectSerialNumber}/${task.serialNumber}/delete/${comment.serialNumber}|}" th:if="${#strings.equals(comment.projectMemberPkMemberId, #authentication.name)}" >댓글 삭제</a>
    <br/><br/>
</div>
</body>
</html>